@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0a0909;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a {
  border-style: none;
}

.a img {
  height: 5rem;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  height: 2rem;
  width: 4rem;
  border: 0.15rem solid #e6d473;
}

a:link {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
}

a:visited {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.button {
  border: 1px solid red;
  background-color: #202020;
  border-style: none;
  outline-style: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  height: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  color: #e6d473;
  background-color: black;
  height: 100%;
}

.button:active, .button.is-checked {
  height: 100%;
  background-color: #e6d473;
  color: black;
}

.mybtn {
  background-color: black;
  display: none;
  border-style: none;
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  color: #e6d473;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  border: 0.2rem solid #e6d473;
}

.mybtn:hover {
  border: 0.2rem solid white;
}

.brands {
  color: #e6d473;
  text-align: start;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  max-width: 80%;
  margin: auto;
}

.filter-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.filter-brand ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.filter-brand ul li {
  list-style: none;
}

.filter-brand .filter-features {
  background-color: #202020;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.dropbtn {
  list-style: none;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 70%;
  z-index: 5;
}

.sort-form {
  position: relative;
  background-color: black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 10%;
  height: 5.2rem;
  border-style: none;
  list-style: none;
  outline-style: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1.05rem;
  text-align-last: center;
  cursor: pointer;
  z-index: 8;
}

.sort-form:hover {
  color: #e6d473;
}

option {
  color: white;
}

.sort-by {
  display: none;
}

option:hover {
  color: #e6d473;
}

.price-change {
  margin: auto;
  width: 85%;
  color: white;
  font-family: "Bebas Neue", cursive;
}

.grid {
  margin: auto;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10%;
  border-top: 0.1rem solid white;
}

.element-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 47%;
  margin: 0.5rem;
}

.element-block-1 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.element-block-1 img {
  width: 100% !important;
  max-width: 1500px !important;
  height: auto !important;
}

.element-block-2 {
  border-radius: 0.5rem;
  background-color: black;
  padding: 1.5rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.prod-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.prod-col .prod-name {
  color: #e6d473;
  font-family: "Bebas Neue", cursive;
  text-align: start;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.prod-col .prod-price {
  color: white;
  font-family: "Bebas Neue", cursive;
}

.prod-col .prod-price {
  font-family: "Bebas Neue", cursive;
  color: white;
  text-align: end;
}

.prod-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.prod-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.prod-col-3 span {
  background-color: #202020;
  border-radius: 5rem;
  padding: 0.3rem;
  font-size: 0.5rem;
}

.prod-col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  color: white;
  font-family: "Roboto", sans-serif;
}

.prod-col-4 .prod-specs {
  font-size: 0.7rem;
}

.prod-col-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 0.7rem;
  font-weight: 500;
  font-size: 1rem;
  gap: 0.5rem;
}

.prod-col-5 span {
  color: gray;
}

.prod-col-5 .prod-specs-2 {
  color: white;
  border-bottom: 0.1rem solid #e6d473;
}

.prod-col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  font-size: 0.7rem;
  gap: 0.5rem;
}

.prod-col-6 button {
  border: 0.15rem solid #e6d473;
  background-color: black;
  color: #e6d473;
  width: 5rem;
  height: 2rem;
}

.prod-col-6 button:hover {
  border: 0.15rem solid white;
}

@media (max-width: 580px) {
  .grid {
    margin: auto;
    width: 90%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 15%;
    border-top: 0.1rem solid white;
  }
  .element-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    justify-items: center;
    max-width: 100%;
    margin: 0.5rem;
  }
  .element-block-1 {
    max-width: 45%;
  }
  .element-block-1 img {
    width: 100%;
    height: auto;
  }
  .element-block-2 {
    border-radius: 0.5rem;
    background-color: black;
    padding: 1.5rem;
    min-width: 45%;
  }
}
/*# sourceMappingURL=all_products.css.map */