@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto&display=swap');


// COLORS

$primaryColor: white;
$secondayColor: #e6d473;
$backgroundcolor: #0a0909;
$darkgrey: #202020;
$blackcolor: black;

// FONTS

$primaryFont: 'Bebas Neue', cursive;  
$secondaFont: 'Bangers', cursive;
$thirdFont: 'Roboto', sans-serif;


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: $secondayColor;
    width: 500px;
    max-width: 80%;
    
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-body{
    padding: 10px 10px;
    color: black;
    height: auto;
    width: auto;
  }

  #overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  #overlay.active{
    pointer-events: all;
    opacity: 1;
  }